<nav>
<ol>
<a href="index.html"><li class="">Raise Money</li></a>
<a href="help.html"><li class="">How Does it Work?</li></a>
<a href="restuarant.html"><li class="">Restaurants</li></a>
</ol>
</nav>
</header>
<section id="main">
  <div id="restaurant_form">

<p>
  <b>Restuarant name:</b>
  <%= @restuarant.restuarant_name %>
</p>

<p>
  <b>Owner name:</b>
  <%= @restuarant.owner_name %>
</p>

<p>
  <b>Website:</b>
  <%= @restuarant.website %>
</p>

<p>
  <b>Email:</b>
  <%= @restuarant.email %>
</p>

<p>
  <b>Reference:</b>
  <%= @restuarant.reference %>
</p>

<p>
  <b>Phone number:</b>
  <%= @restuarant.phone_number %>
</p>

<p>
  <b>Message:</b>
  <%= @restuarant.message %>
</p>


<%= link_to 'Edit', edit_restuarant_path(@restuarant) %> |
<%= link_to 'Back', restuarants_path %>

</div>
</section>